/* GENERAL  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* UTILITIES */

.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.white-txt {
    color: #fff;
}

.lh80 {
    line-height: 80px;
}

.tac{
    text-align: center;
}

.tar {
    text-align: right;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mb-30 {
    margin-bottom: 30px;
}

.bg-grey {
    background-color: #f6f6f6;
}
/* DEBUG  */

.debug-box {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

/* HEADER */

header {
    background-color: #255ee9;
}

.logo img {
    vertical-align: middle;
    max-width: 100%;
}

.main-menu ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

.main-menu ul > li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}


.main-menu ul > li:last-child {
    margin: 0;
}

.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    vertical-align: middle;
}

/* HERO  */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-container {
    width: 50%;
    margin: auto;
    padding: ;

}

.hero-container h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.hero-container p {
    line-height: 30px;
    font-size: 20px;
}

/* MAIN CONTENT  */

.col img {
    max-width: 100%;
}



